@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 95 7% 22%; /* #3A3D36 */
    --foreground: 210 14% 83%; /* #D1D5DB */

    --card: 95 7% 22%;
    --card-foreground: 210 14% 83%;

    --popover: 95 7% 22%;
    --popover-foreground: 210 14% 83%;

    --primary: 158 70% 64%; /* #6EE7B7 */
    --primary-foreground: 95 15% 10%;

    --secondary: 94 7% 31%; /* #4D5548 */
    --secondary-foreground: 210 14% 83%;

    --muted: 94 7% 31%;
    --muted-foreground: 215 14% 65%;

    --accent: 158 70% 64%;
    --accent-foreground: 95 15% 10%;

    --warning: 38 92% 51%; /* #F59E0B */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 94 8% 28%; /* #454A41 */
    --input: 94 7% 31%;
    --ring: 158 70% 64%;

    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}