@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 33% 8%;
    --foreground: 210 17% 84%;
    --card: 212 33% 8%;
    --card-foreground: 210 17% 84%;
    --popover: 212 33% 8%;
    --popover-foreground: 210 17% 84%;
    --primary: 212 100% 67%;
    --primary-foreground: 212 33% 8%;
    --secondary: 169 55% 53%;
    --secondary-foreground: 212 33% 8%;
    --muted: 212 33% 15%;
    --muted-foreground: 210 9% 55%;
    --accent: 212 100% 67%;
    --accent-foreground: 212 33% 8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 18% 22%;
    --input: 210 18% 22%;
    --ring: 212 100% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 212 33% 8%;
    --foreground: 210 17% 84%;
    --card: 212 33% 8%;
    --card-foreground: 210 17% 84%;
    --popover: 212 33% 8%;
    --popover-foreground: 210 17% 84%;
    --primary: 212 100% 67%;
    --primary-foreground: 212 33% 8%;
    --secondary: 169 55% 53%;
    --secondary-foreground: 212 33% 8%;
    --muted: 212 33% 15%;
    --muted-foreground: 210 9% 55%;
    --accent: 212 100% 67%;
    --accent-foreground: 212 33% 8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 18% 22%;
    --input: 210 18% 22%;
    --ring: 212 100% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}